{{ define "main" }}
<main class="list container py-6">
    {{- if or .Title .Content -}}
    <div class="row py-3">
        <div class="col tag-title">
            {{ with .Title }}<h2>{{ . }}</h2>{{ end }}
            {{- with .Content -}}
            <div class="content">
                {{ . }}
            </div>
            {{- end -}}
        </div>
    </div>
    {{- end -}}

    <div class="row d-flex justify-content-around">
        {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
        {{ range $paginator.Pages }}
        {{ .Render "card" }}
        {{ end }}
    </div>
    <div class="d-flex justify-content-center">
        {{ template "_internal/pagination.html" . }}
    </div>
</main>
{{ end }}
