{{ $current := . }}
<nav class="nav-main navbar navbar-expand-md navbar-light bg-dark fixed-top" id="navbar-main-menu">
    <div class="container">
        <a class="navbar-brand" href="{{ .Site.BaseURL }}"><img src="/images/icons/Galaxy.png" height="30" class="ps-2 me-2 rotate-a-20" id="navbar-brand-image" alt="site logo" />{{ .Site.Title }}</a>
        <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#main-menu"
            aria-controls="main-menu"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-menu">
            <ul class="navbar-nav ms-auto d-flex align-items-left align-items-md-center">
                {{- if .Site.Params.showLanguageSwitcher -}}
                {{ partial "i18nlist.html" . }}
                {{- end -}}
                {{ with .Site.Menus.main }}
                {{ range . }}
                <li class="nav-item">
                    <a class="nav-link{{ if or (eq $current.URL .URL) ($current.HasMenuCurrent "main" .) }} active{{ end }}" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
                </li>
                {{ end }}
                {{ end }}
                <!--  <form class="d-flex" id="search-form" action="/search/" method="GET">  -->
                <form class="d-flex" id="search-form">
                    <div class="input-group">
                        <input type="search" id="autocomplete" class="form-control" placeholder="Search">
                        <!--  <button type="submit" id="search-button" class="btn btn-primary "> <i class="fa fa-search fa-sm"></i></button>  -->
                    </div>
                </form>
            </ul>
        </div>
    </div>
</nav>
