@font-face {
    font-family: "RNSSanz";
    src: url("../../src/fonts/RNSSanz/RNSSanz-Light.ttf");
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "RNSSanz";
    src: url("../../src/fonts/RNSSanz/RNSSanz-Medium.ttf");
    font-display: swap;
}

@font-face {
    font-family: "RNSSanz";
    src: url("../../src/fonts/RNSSanz/RNSSanz-Medium.ttf");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "RNSSanz";
    src: url("../../src/fonts/RNSSanz/RNSSanz-SemiBold.ttf");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "RNSSanz";
    src: url("../../src/fonts/RNSSanz/RNSSanz-Bold.ttf");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "RNSSanz";
    src: url("../../src/fonts/RNSSanz/RNSSanz-ExtraBold.ttf");
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: "RNSSanz";
    src: url("../../src/fonts/RNSSanz/RNSSanz-Black.ttf");
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: "BergenMono";
    src: url("../../src/fonts/BergenMono/BergenMono-Regular.otf");
    font-display: swap;
}

@font-face {
    font-family: "BergenMono";
    src: url("../../src/fonts/BergenMono/BergenMono-Bold.otf");
    font-weight: 700;
    font-display: swap;
}
