@mixin toc-selected {
    // color: $text-gray !important;
    color: $primary !important;
    transform: translate(1px) !important;
}

.toc {
    // line-height: 2;

    ul {
        list-style: none;
        padding-left: 0px;
    }

    ul ul {
        padding-left: 0.5em;
    }

    li a {
        display: inline-block;
        color: $text-muted;
        text-decoration: none;
        transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
        font-size: 0.9rem;

        &:hover {
            @include toc-selected;
        }
    }

    li.visible>a {
        @include toc-selected;
    }
}

.visible {
    @include toc-selected;
}

// Adds offset to the headers in the post content to ignore the navbar height (avoids underscroll).
:target[id]:before {
    content: "";
    display: block;
    height: 58px;
    margin: -30px 0 0;
}
