div {
    &.toc-container {
        // top: 56px;
        top: 99px;
        background-color: white;
        z-index: 0;
    }

    &.toc-contents {
        padding-left: 10px;
        // z-index: 1;
    }
}
