<div>
    <div class="d-flex justify-content-between" style="width: 100%; background-color: #2f1e2e; color: #e7e9db; font-size:0.9em;">
        <div class="text-left ps-4 pt-2 fst-italic"> {{ .Get 0 }}</div>
        <div class="text-right fst-italic pe-4 pt-2">
            {{ .Get 2 }}
            <span class="fa fa-file-code ms-2" style="font-size:0.8em;"></span>
        </div>
    </div>
    <!-- {{ highlight (trim .Inner "\n\r") (.Get 0) (.Get 1) }} -->
    {{ highlight (trim .Inner "\n\r") (.Get 0) (.Get 1) }}
</div>
