{{ define "main" }}
<main class="content-page container pt-7 pb-5">
    <div class="container">
        <input type="search" id="autocomplete">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css"
  />
    <script>
        docsearch({
            apiKey: "fc0011c6a297ab1c2c3e1d9d60f02d33",
            indexName: "panaetius_blog_docsearch",
            appId: "NQ5PE1DPPX",
            inputSelector: "#autocomplete",
          });
    </script>
</main>
{{ end }}
